{% extends 'dog/base.html' %}

{% block body %}
<div class="img-about" >
    <img   src="https://img1.wsimg.com/isteam/ip/796222cf-0efd-49e6-b1c7-3ee6dbc81faa/Versa-gility.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:984,h:517"/>
    
</div>
<div class="about">
    <h6>Here at Versa Dog Sports we are committed to building relationships through dog training. Whether you're interested in 
        agility or obedience, Versa Dog Sports has a class for you! We have a lovely indoor arena with turf and also a ring with mats.
        This is great for year round agility in all types of weather.
     </h6>
</div>
{% endblock %}