{% extends 'dog/base.html' %}

{% block body %}
<div>
    <form method="POST">
        {% csrf_token %}
        <div class="row ">
            <div class="fieldWrapper">
                {{ form.contact_name.errors }}
                <label for="{{ form.contact_name.id_for_label }}">Your Name:</label>
                {{ form.contact_name }}
            </div>
            <div class="fieldWrapper">
                {{ form.contact_email.errors }}
                <label for="{{ form.contact_email.id_for_label }}">Your Email:</label>
                {{ form.contact_email }}
            </div>
            <div class="fieldWrapper">
                {{ form.contact_message.errors }}
                <label for="{{ form.contact_message.id_for_label }}">Your Message:</label>
                {{ form.contact_message }}
            </div>
            <button type="submit" class="btn btn-primary" >Send Message</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}