{% extends 'dog/base.html' %}

{% block body %}
<form method="POST">
    <h1> Obedience Class</h1>
    {% csrf_token %}
    <div class="row form">
        <div class="fieldWrapper">
            {{ form.nonagilityclass_name.errors }}
            <label for="{{ form.nonagilityclass_name.id_for_label }}">Class Name:</label>
            {{ form.nonagilityclass_name }}
        </div>
        <div class="fieldWrapper">
            {{ form.nonagilityclass_description.errors }}
            <label for="{{ form.nonagilityclass_description.id_for_label }}">Class Description:</label>
            {{ form.nonagilityclass_description }}
        </div>
        <div class="fieldWrapper">
            {{ form.nonagilityclass_image.errors }}
            <label for="{{ form.nonagilityclass_image.id_for_label }}">Class Image:</label>
            {{ form.nonagilityclass_image }}
        </div>
        <div class="fieldWrapper">
            {{ form.nonagilityclass_price.errors }}
            <label for="{{ form.nonagilityclass_price.id_for_label }}">Class Price:</label>
            {{ form.nonagilityclass_price }}
        </div>
        <div class="fieldWrapper">
            {{ form.nonagilityclass_length.errors }}
            <label for="{{ form.nonagilityclass_length.id_for_label }}">Class Length:</label>
            {{ form.nonagilityclass_length }}
        </div>
        <div class="fieldWrapper">
            {{ form.nonagilityclass_week1.errors }}
            <label for="{{ form.nonagilityclass_week1.id_for_label }}">Class Week Curriculum:</label>
            {{ form.nonagilityclass_week1 }}
        </div>
        <button type="submit" class="btn btn-success formbtn" >Save</button>
        </div>
    </div>
</form>

{% endblock %}