{% extends 'dog/base.html' %}

{% block body %}
<form method="POST">
    {% csrf_token %}
    <div class="row form">
        <div class="fieldWrapper">
            {{ form.product_name.errors }}
            <label for="{{ form.product_name.id_for_label }}">Product Name:</label>
            {{ form.product_name }}
        </div>
        <div class="fieldWrapper">
            {{ form.product_price.errors }}
            <label for="{{ form.product_price.id_for_label }}">Product Price:</label>
            {{ form.product_price }}
        </div>
        <div class="fieldWrapper">
            {{ form.product_description.errors }}
            <label for="{{ form.product_description.id_for_label }}">Product Description:</label>
            {{ form.product_description }}
        </div>
        <div class="fieldWrapper">
            {{ form.product_image.errors }}
            <label for="{{ form.product_image.id_for_label }}">Product Image:</label>
            {{ form.product_image }}
        </div>
        <button type="submit" class="btn btn-success formbtn" >Save</button>
        </div>
    </div>
</form>

{% endblock %}